
#dbus-remotecontrol-icon {
	list-style-image: url("chrome://dbus-integration/skin/dbus-16.png");
}

.dbus-connectionstate-connected {
	font-weight: bold;
	color: green;
}

.dbus-connectionstate-disconnected {
	font-weight: bold;
	color: gray;
}

.dbus-connectionstate-error {
	font-weight: bold;
	color: maroon;
}